body {
    background-color: #b0bed8;
  }
  
  .height {
    height: 100vh;
  }
  
  .card {
    width: 350px;
    height: 370px;
    background-color: rgb(244, 233, 230);
  }
  
  .image {
    position: absolute;
    right: 12px;
    top: 10px;
  }
  
  .main-heading {
    font-size: 40px;
    color: rgb(194, 7, 7) !important;
  }
  
  .ratings i {
    color: orange;
  }
  
  .user-ratings h6 {
    margin-top: 2px;
  }
  
  .colors {
    display: flex;
    margin-top: 2px;
  
    span {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      margin-right: 6px;
  
      &:nth-child(1) {
        background-color: red;
      }
  
      &:nth-child(2) {
        background-color: blue;
      }
  
      &:nth-child(3) {
        background-color: yellow;
      }
  
      &:nth-child(4) {
        background-color: purple;
      }
    }
  }
  
  .btn-danger {
    height: 48px;
    font-size: 18px;
    background-color: #8b0000;
    color: #ffd700;
  }
  p{
    font-size: small;
  }
  