
      <div class="col">
          <div class="card shadow-sm">
            <img src="assets\images\bloody.jpg" alt="">
            <div class="card-body">
              <p class="card-text">vvvvv</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">add to cart</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">view more</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- need to know how to bined data from parent component to chiled component -->
        
        
      